@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color: #F4F4FF;
}

.blackbox:hover{
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 35px 2px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 0px 35px 2px rgba(0,0,0,0.7);
    box-shadow: 0px 0px 35px 2px rgba(0,0,0,0.7);
}

.light{
    --background-color: #F4F4FF;
    --text-color: black;
    --border-color: black;
    --blackbox-color: black;
    --blackbox-text: #F4F4FF;
}

  
.dark {
    --background-color: black;
    --text-color: #F4F4FF;
    --border-color: #F4F4FF;
    --blackbox-color: #F4F4FF;
    --blackbox-text: black;
}

body.light, .light {
    background-color: var(--background-color);
    color: var(--text-color);
}

body.dark, .dark {
    background-color: var(--background-color);
    color: var(--text-color);
}


.theme-toggle {
    position: fixed;
    top: 50px;
    right: 5px;
    padding: 8px;
    cursor: pointer;
    background-color: var(--background-color);
    color: var(--text-color);
    border: 2px solid var(--text-color);
    border-radius: 25px;
    z-index: 1;
  }
  
  /* For larger screens */
  @media (min-width: 430px) {
    .theme-toggle {
      top: 20px;
      right: 20px;
      padding: 10px;
    }
  }


  .download-button {
    position: relative;
    border-width: 0;
    color: white;
    font-size: 15px;
    font-weight: 600;
    border-radius: 4px;
    z-index: 1;
   }
   
   .download-button .docs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    min-height: 40px;
    padding: 0 10px;
    border-radius: 4px;
    z-index: 1;
    background-color: #242a35;
    border: solid 1px #e8e8e82d;
    transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
   }
   
   .download-button:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
   }
   
   .download {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    margin: 0 auto;
    z-index: -1;
    border-radius: 4px;
    transform: translateY(0%);
    background-color: #01e056;
    border: solid 1px #01e0572d;
    transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
   }
   
   .download-button:hover .download {
    transform: translateY(100%)
   }
   
   .download svg polyline,.download svg line {
    animation: docs 1s infinite;
   }




.instaIcon {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  border-radius: 15px;
  color: white;
}